@{
    Layout = null;
    var user = ViewBag.UserInfo as Nutshell.Blog.Model.User;

}
@using Nutshell.Blog.Common
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/style/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="@user.Theme.Resources" />
    <link href="~/Content/style/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("style", false)
</head>
<body>
    <div id="home">
        <div id="header">
            <div id="header-title">
                <h1>
                    <a href="/@user.Login_Name">@user.Nickname</a>
                </h1>
                <h2>@(user.Words)</h2>
            </div>
            <div id="navigator">
                <ul id="navList">
                    <li><a href="/">果壳园</a></li>
                    <li><a href="/@user.Login_Name">首页</a></li>
                    <li><a href="/article/edit">文章</a></li>
                    <li><a href="/">管理</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
            <div id="mainContent">
                <div class="forFlow">
                    @RenderBody()
                </div>

            </div>
            <div id="sideBar">
                <div id="sideBarMain">
                    <div id="authorItem">
                        <h3 id="sideTitle">作者信息</h3>
                        <div id="authorInfo">
                            <div id="profile_block">
                                昵称：<a href="/@user.Login_Name">@user.Nickname</a> <br />
                                园龄：<a href="/@user.Login_Name">@user.Registration_Time.GetYearMonthDayString()</a> <br />
                                粉丝：<a href="#">0</a> <br />
                                关注：<a href="#">0</a>
                                <div id="follow">
                                    <a href="#">+加关注</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="leftcontentcontainer">
                        <div id="blog-sidecolumn">
                            <div id="sidebar_categories">
                                <div class="sidebar-block" id="sidebar_postcategory">
                                    <h3 class="catListTitle">文章分类</h3>
                                    <ul>
                                        @*<li><a href="">项目管理（1）</a></li>
                                            <li><a href="">Asp.Net MVC（3）</a></li>*@
                                        @{
                                            var categories = ViewBag.Categories as List<Nutshell.Blog.Model.ViewModel.CustomCategories>;
                                            if (categories != null)
                                            {
                                                foreach (var category in categories)
                                                {
                                                    <li>
                                                        <a href="">
                                                            @category.CategoryName (@category.Count)
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="sidebar-block" id="sidebar_postarchive">
                                    <h3 class="catListTitle">文章档案</h3>
                                    <ul>
                                        @*<li><a href="">2017-10-26（5）</a></li>
                                            <li><a href="">2017-10-25（1）</a></li>*@
                                        @{
                                            var archives = ViewBag.Archives as List<Nutshell.Blog.Model.ViewModel.Archives>;
                                            if (archives != null)
                                            {
                                                foreach (var item in archives)
                                                {
                                                    <li><a href="">@item.date（@item.count）</a></li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            Copyright ©2017 @user.Nickname
        </div>
    </div>
    <script src="~/Content/scripts/jquery-1.8.0.min.js"></script>
    @RenderSection("script", false)
</body>
</html>