@{
    Layout = "~/Views/Shared/_BlogHomeLayout.cshtml";
    var user = ViewBag.UserInfo as Nutshell.Blog.Model.User;
    if (user != null)
    {
        ViewBag.Title = $"{ user.Nickname} - 果壳园";
    }
    else
    {
        ViewBag.Title = "用户 - 果壳园";
    }
}
@model IEnumerable<IGrouping<DateTime, Nutshell.Blog.Model.Article>>
@section style{

}

@if (Model != null && Model.Count() > 0)
{
    foreach (var group in Model)
    {
        <div class="blog-item">
            <div class="date">
                <span>@(group.Key.ToString("D"))</span>
            </div>
            @foreach (var article in group)
            {
                <div class="title">
                    <a href="/@article.Author.Login_Name/p/@(article.Article_Id).html">@article.Title</a>
                </div>
                <div class="content">
                    <div class="desc">
                        摘要: @article.Introduction
                        <a href="/@article.Author.Login_Name/p/@(article.Article_Id).html">阅读全文</a>
                    </div>
                    <div class="info">
                        posted @@ @article.Creation_Time @article.Author.Nickname 阅读(0) 评论(0)
                        <a href="/">编辑</a>
                    </div>
                </div>
                <div class="separator"></div>
            }
        </div>
    }
}
