@model Nutshell.Blog.Model.Article
@{
    Layout = "~/Views/Shared/_BlogHomeLayout.cshtml";
    ViewBag.Title = $"{Model.Title} - {Model.Author?.Nickname} - 果壳园";
}

@section style{

    <style>
        body {
            padding: 0px;
            margin: 0px;
        }

        ul, li {
            list-style: none;
        }

        .root-container {
            position: relative;
            margin: 0px;
            padding: 0px;
            width: 100%;
        }

            .root-container > div {
                float: left;
                height: 500px;
            }

        .left {
            width: 20%;
        }

        .right {
            width: 30%;
        }

        .main {
            width: 50%;
        }

        .article-body {
            position: relative;
            margin: 0px auto;
        }

        p {
            font-size: 14px;
            line-height: 20px;
        }
    </style>
}
<div class="root-container">
    <div class="left"></div>
    <div class="main">
        @Model.Title
        <br />
        @ViewBag.Author
        <div class="article-body">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Body))
        </div>
        <hr />

        <div>
            @if (Model.Discussions.Count > 0)
                {
                <h3>评论列表</h3>
                <ul id="commentlist">

                    @{
                            var comments = Model.Discussions.OrderBy(c => c.Discussion_Time);
                    }
                    @foreach (var item in comments)
                        {
                        <li>
                            <h4>
                                @(item.UserName)
                                @if (item.User_Id == item.Article.Author_Id)
                                    {
                                    <span>作者</span>
                                    }
                            </h4>
                            @if (item.ParentDiscussion != null)
                                {
                                <p>
                                    回复 @@@item.ParentDiscussion.User.Nickname
                                </p>
                                }
                            <p>@Html.Raw(HttpUtility.HtmlDecode(item.Content))</p>
                        </li>
                        }
                </ul>
                            }
        </div>

        <textarea id="comment"></textarea>
        <button id="btnSubmit">提交</button>
    </div>
    <div class="right"></div>
</div>

@section script{
    <script src="~/Content/scripts/jquery-1.8.0.min.js"></script>
    <link href="~/Content/kindeditor/themes/default/default.css" rel="stylesheet" />
    <link href="~/Content/kindeditor/plugins/code/prettify.css" rel="stylesheet" />
    <script src="~/Content/kindeditor/kindeditor-all-min.js"></script>
    <script src="~/Content/kindeditor/lang/zh-CN.js"></script>
    <script src="~/Content/kindeditor/plugins/code/prettify.js"></script>

    <script>
        var editor_body = null;
        KindEditor.ready(function (K) {
            editor_body = K.create("#comment", {
                resizeType: 1,
                allowPreviewEmoticons: false,
                allowImageUpload: false,
                items: [
                    'source', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            })
        });

        $(function () {
            $("#btnSubmit").click(function () {
                $.post("/article/comment", {
                    content: editor_body.html(), function(data) {
                        console.log(data);
                    }
                })
            })
        })
    </script>
}
