@{
    Layout = null;
}
@model Nutshell.Blog.Model.User
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Nickname 的主页 - 果壳园</title>
    <link href="~/Content/style/reset.css" rel="stylesheet" />
    <link href="~/Content/style/font-awesome.min.css" rel="stylesheet" />
    @*<link href="~/Content/amazeui/assets/css/amazeui.min.css" rel="stylesheet" />*@
    <link href="~/Content/layer/2.4/skin/layer.css" rel="stylesheet" />
    <link href="~/Content/cropper/cropper.min.css" rel="stylesheet" />
    <style>
        body {
            background: #e9e9e9;
        }

        div {
            box-sizing: border-box;
        }

        .wrapper {
            position: relative;
            margin: 0px auto;
            width: 1170px;
        }

        .dot:after {
            content: "·";
        }

        .header {
            width: 1170px;
            padding-bottom: 8px;
        }

        .content {
            background: #fff;
            margin-top: 10px;
        }

        .header {
            background: #fff;
            border: 1px solid #dcdcdc;
            margin: 10px auto 0;
            overflow: hidden;
            position: relative;
        }

            .header .edit-info {
                position: absolute;
                right: 15px;
                top: 15px;
                font-size: 20px;
                color: #aaa;
                cursor: pointer;
                display: none;
            }

            .header:hover .edit-info {
                display: block;
            }

            .header .person {
                display: inline-block;
            }

        .person-photo {
            width: 150px;
            height: 200px;
            float: left;
            margin: 15px 30px 15px 20px;
        }

            .person-photo img {
                width: 150px;
                height: 150px;
                display: block;
                border: 1px solid #dbd8d8;
            }

            .person-photo .edit-photo {
                position: absolute;
                top: 128px;
                left: 79px;
                width: 32px;
                height: 32px;
                color: #ccc;
                font-size: 18px;
                background: #333;
                text-align: center;
                line-height: 32px;
                border-radius: 20px;
                cursor: pointer;
                display: none;
            }

            .person-photo:hover .edit-photo {
                display: block;
            }

        .person-info {
            float: left;
            width: 950px;
            margin-top: 30px;
        }

        .info-nick {
            font-size: 24px;
            margin-bottom: 0px;
        }

        .info-sign {
            padding-bottom: 8px;
            margin-top: 10px;
            font-size: 15px;
            border-bottom: 1px solid #dcdcdc;
        }

        .edit_window {
            width: 750px;
            height: 450px;
            display: none;
            background: #ffffff;
            border-radius: 3px;
            padding: 20px 30px;
        }

            .edit_window img_box {
                padding: 18px;
            }

        .img_box {
            width: 280px;
            height: 280px;
        }

        .silder-content li {
            border-bottom: 1px solid #f0f0f0;
            padding: 25px 0px;
        }

        .silder-content p {
            margin: 0px;
        }

            .silder-content p a {
                color: #428bca;
            }

        .silder-content span {
            float: right;
            font-size: 13px;
            color: #999;
            margin-right: 25px;
        }

        .top_tool {
            padding: 50px 0px 8px 0px;
            border-bottom: 1px solid #f0f0f0;
            text-align: right;
        }

            .top_tool a {
                color: #e9733a;
                font-size: 16px;
            }

        .tabs .tabs-nav {
            border-right: 1px solid #dcdcdc;
            border-left: 1px solid #dcdcdc;
        }

            .tabs .tabs-nav > li {
                float: left;
                width: 25%;
                box-sizing: border-box;
                text-align: center;
                padding: 1.0em 0px;
                border-right: 1px solid #fff;
                border-top: 2px solid transparent;
                background: #eee;
                cursor: pointer;
            }

                .tabs .tabs-nav > li:last-child {
                    border-right: none;
                }

                .tabs .tabs-nav > li.tab-active {
                    background: #ffffff;
                    border-top: 2px solid #8d8d8d;
                }

        .tabs .tabs-bd .tab-panel {
            padding: 20px;
            display: none;
        }

            .tabs .tabs-bd .tab-panel.panel-active {
                display: block;
            }
    </style>
</head>
<body>
    <div class="top"></div>
    <div class="wrapper">
        <div class="header">
            <span class="fa fa-edit edit-info"></span>
            <div class="person-photo person">
                <span class="fa fa-edit edit-photo" onclick="edit_photo()"></span>
                <img src="@Model.Photo" alt="加载失败" />
            </div>
            <div class="person-info person">
                <p class="info-nick">@Model.Nickname</p>
                <p class="info-sign">@Model.Words</p>
            </div>
        </div>
        <div class="content">
            <div class="tabs">
                <ul class="tabs-nav">
                    <li class="tab-active">我的文章</li>
                    <li>我的收藏</li>
                    <li>我的资料</li>
                    <li>我的关注</li>
                </ul>
                <div class="tabs-bd">
                    <div class="tab-panel panel-active">
                        <div class="top_tool">
                            <a href="#">文章管理</a>
                        </div>
                        <div class="silder-content">
                            <ul id="article_list"></ul>
                        </div>
                    </div>
                    <div class="tab-panel">
                        <div class="top_tool">
                            <a href="#">按标签查看</a>
                        </div>
                        <div class="silder-content">
                            <div id="favorite_list">

                            </div>
                        </div>
                    </div>
                    <div class="tab-panel">
                        sdg
                    </div>
                    <div class="tab-panel">
                        sdg
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>

    <!--修改头像弹窗-->
    <div class="edit_window photo_select">
        <div class="am-form-group am-form-file">
            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
            </button>
            <input id="doc-form-file" type="file">
        </div>
        <div class="img_box">
            <img id="img_source" src="@Model.Photo" alt="头像" />
        </div>
    </div>
    <script src="~/Content/scripts/jquery-1.8.0.min.js"></script>
    @*<script src="~/Content/amazeui/assets/js/amazeui.min.js"></script>*@
    <script src="~/Content/layer/2.4/layer.js"></script>
    <script src="~/Content/cropper/cropper.min.js"></script>
    <script src="~/Content/scripts/common.js"></script>
    <script>
        function edit_info() {

        }
        function edit_photo() {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: ['720', '450'],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: $('.edit_window')
            });
        }

        $(function () {
            var $previews = $('.preview');
            $('#img_source').cropper({
                viewMode: 1,
                dragMode: 'move',
                autoCropArea: 0.54,
                restore: false,
                guides: false,
                highlight: false,
                cropBoxMovable: false,
                cropBoxResizable: false
            });

            $.each($(".tabs-nav li"), function (i, e) {
                $(this).click(function () {
                    if ($(this).hasClass("tab-active")) {
                        return;
                    }
                    $(".tab-active").removeClass("tab-active");
                    $(".panel-active").removeClass("panel-active");
                    $(this).addClass("tab-active");
                    $($(".tab-panel")[i]).addClass("panel-active");
                });
            });
            getblogs();
            getfavorites();
        })
        function getblogs() {
            var $articleList = $("#article_list");
            $.post("/article/getblogs", {}, function (data) {
                if (data.code == 0) {
                    var res = data.res;
                    $.each(res, function (i, e) {
                        e["Creation_Time"].replace(/Date\([\d+]+\)/, function (a) { eval('d = new ' + a) });
                        $articleList.append('<li><p><a href="/@Model.Login_Name/p/' + e["Article_Id"] + '.html">' + e["Title"] + '</a><span>' + d.format("yyyy-MM-dd hh:mm:ss") + '</span></p></li>');
                    })
                }
            });
        }

        function getfavorites() {
            var $favoriteList = $("#favorite_list");
            $.post("/article/getfavorites", {}, function (data) {
                if (data.code == 0) {
                    var res = data.res;
                    $.each(res, function (i, e) {
                        e["Collection_Time"].replace(/Date\([\d+]+\)/, function (a) { eval('d = new ' + a) });
                        $favoriteList.append('<li><p><a href="/' + e["author"] + '/p/' + e["Article_Id"] + '.html">' + e["Title"] + '</a><span>' + d.format("yyyy-MM-dd") + '</span></p></li>');
                    })
                }
            });
        }
    </script>
</body>
</html>
