@{
    var menus = ViewBag.Menus as List<Nutshell.Blog.Model.Module>;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "果壳园后台管理 - 果壳园";
}
@model Nutshell.Blog.Model.ViewModel.Account
@section style{
}
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header class="fixed">
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="/"><img src="~/Content/amazeui/assets/img/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                <span>
                </span>
            </div>
            <!-- 搜索 -->
            <div class="am-fl tpl-header-search">
                <form class="tpl-header-search-form" action="javascript:;">
                    <button class="tpl-header-search-btn am-icon-search"></button>
                    <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                </form>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span>@Model.Nickname</span> </a>
                    </li>

                    <!-- 新邮件 -->
                    <li class="am-dropdown tpl-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-envelope"></i>
                            <span class="am-badge am-badge-success am-round item-feed-badge">4</span>
                        </a>
                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="~/Content/amazeui/assets/img/user04.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        3小时前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-success"></i>
                                            <span>夕风色</span>
                                        </div>
                                        <div class="am-text-truncate"> Amaze UI 的诞生，依托于 GitHub 及其他技术社区上一些优秀的资源；Amaze UI 的成长，则离不开用户的支持。 </div>
                                        <div class="menu-messages-content-time">2016-09-21 下午 16:40</div>
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="~/Content/amazeui/assets/img/user02.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        5天前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-warning"></i>
                                            <span>禁言小张</span>
                                        </div>
                                        <div class="am-text-truncate"> 为了能最准确的传达所描述的问题， 建议你在反馈时附上演示，方便我们理解。 </div>
                                        <div class="menu-messages-content-time">2016-09-16 上午 09:23</div>
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <i class="am-icon-circle-o"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 新提示 -->
                    <li class="am-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-bell"></i>
                            <span class="am-badge am-badge-warning am-round item-feed-badge">5</span>
                        </a>
                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-line-chart"></i>
                                        <span> 有6笔新的销售订单</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        12分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-star"></i>
                                        <span> 有3个来自人事部的消息</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        30分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-folder-o"></i>
                                        <span> 上午开会记录存档</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        1天前
                                    </div>
                                </a>
                            </li>

                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <i class="am-icon-bell"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="/Account/LoginOut">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <div class="tpl-user-panel-profile-picture">
                    <img src="@Model.Photo" alt="">
                </div>
                <span class="user-panel-logged-in-text">
                    <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                    @Model.Nickname
                </span>
                <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
            </div>
        </div>
        <!-- 菜单 -->
        <ul class="sidebar-nav" id="menu">
            <li class="sidebar-nav-heading">User <span class="sidebar-nav-heading-info"> 用户菜单</span></li>
            <li class="sidebar-nav-link">
                <a data-href="/admin/home/desktop" onclick="SwitchPage(this); return false;">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 主页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <i class="am-icon-book sidebar-nav-link-logo"></i> 我的文章 <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: none;">
                    <li class="sidebar-nav-link">
                        <a href="/admin/article/edit" target="_blank">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 发表文章
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/" data-href="/" onclick="SwitchPage(this); return false;"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文章分类 </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/admin/article/bloglist" data-href="/admin/article/bloglist" onclick="SwitchPage(this); return false;"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文章列表 </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <i class="am-icon-user-secret sidebar-nav-link-logo"></i> 我的资料 <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: none;">
                    <li class="sidebar-nav-link">
                        <a href="/" data-href="/admin/user/index" onclick="SwitchPage(this); return false;"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 资料与设置 </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/" data-href="/admin/user/index" onclick="SwitchPage(this); return false;"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 账号安全 </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/admin/manage/friendlink" data-href="/admin/manage/friendlink" onclick="SwitchPage(this); return false;"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 友情链接 </a>
                    </li>
                </ul>
            </li>
            @if (menus != null)
            {
                var parent = menus.Where(m => m.Parent_Id == 0);
                foreach (var pItem in parent)
                {
                    if (pItem.IsLast)
                    {
            <li class="sidebar-nav-link">
                <a data-href="@pItem.Url" onclick="SwitchPage(this); return false;">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> @pItem.Name
                </a>
            </li>
                    }
                    else
                    {
                        var children = menus.Where(m => m.Parent_Id == pItem.Id);
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <i class="@pItem.Iconic sidebar-nav-link-logo"></i> @pItem.Name <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    @foreach (var cItem in children)
                                {
                    <li class="sidebar-nav-link">
                        <a href="@cItem.Url" data-href="@cItem.Url" onclick="SwitchPage(this); return false;"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span> @cItem.Name </a>
                    </li>
                                }
                </ul>
            </li>
                    }
                }
            }
        </ul>

    </div>

    <!--内容-->
    <div class="tpl-content-wrapper" id="loadData">
    </div>
</div>
@section script{
    <script src="~/Content/amazeui/assets/js/app.js"></script>
    <script type="text/javascript">
        function LoadPage($obj, url) {
            var index = layer.msg('加载中', {
                icon: 16
                , shade: 0.3
            });
            setTimeout(function () {
                $obj.load(url, function (response, status, xhr) {
                    layer.close(index);
                }); //将PartialIndex分部视图中的内容加载到id为loadData这个元素中去
            }, 3000)
        }
        $(function () {
            LoadPage($("#loadData"), "/admin/home/desktop");
        })

        function SwitchPage(obj) {
            var url = $(obj).attr("data-href");
            //console.log(url);
            if (url != null) {
                LoadPage($("#loadData"), url);
            }
        }
    </script>
}